/bin
/lib
/install
*.vs
*.db
*.log
*.dll
*.exe
*.lib
*.exp
*.ipdb
*.iobj
*.tlog
*.recipe
*.FileListAbsolute.txt
*.idb
*.hlsl.h
*.bat
!src/rt64lib/contrib/BuildNRD.bat
imgui.ini
*.obj
*.pdb
*.ilk
*.user